# Copyright 2003 Antonio G. Muñoz, tomby (AT) tomby.homemelinux.org
# Distributed under the terms of the GNU General Public License v2
# $Header: /cvsroot/pkgbuilder/pkgbuilder/Attic/build.rc,v 1.5 2003/11/28 22:02:45 tomby Exp $

PKGBUILDER_HOME="/home/tomby/proyectos/pkgbuilder"

VERSION="20031128"

PACKAGES_LOGDIR="/home/tomby/tmp/installed"

FETCH_TRIES="5"
FETCH_RATE="25K"
FETCH_DIR="/home/tomby/tmp/distfiles"
FETCH_OPTIONS="--tries=$FETCH_TRIES --limit-rate=$FETCH_RATE --directory-prefix=$FETCH_DIR"

TMP="/home/tomby/tmp"

USE="test3 test4"

ARCH="i486"
CPU="i686"
CFLAGS="-O2 -march=$ARCH -mcpu=$CPU"
CXXFLAGS="$CFLAGS"
